@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
 --ot-bg-lighter: #ffffff;
 --ot-bg-darker: #000000;
 --ot-primary: #e53170;
 --ot-accent: #6ac9ec;
}

body{
 font-family: "Fredoka", serif;
}

.jumbotron{
  h1{
    color: var(--ot-primary);    
  }

  p{
    font-weight: 400;
  }

}

section{
  .col-8{
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    color: white;
    line-height: 1rem;
    vertical-align: baseline;

    a{
      color: var(--ot-accent);
      font-weight: 500;
    }
  }
}
